.features {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0.5rem 0;
  width: 100%;
}

.featureGIF {
  height: 800px;
  width: 500px;
}

.feature {
  margin-top: 0px; /* 顶部外边距 */
  margin-bottom: -5px; /* 底部外边距 */
}
