/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image:url(./img/sparky_zh.jpg);
  background-repeat: no-repeat;
  background-repeat: repeat-x;
  background-repeat: repeat-y;
  background-position: center center;
  background-size: cover;
  width: auto;
  height: 1080px;
}

@media screen and (max-width: 768px) {
  .heroBanner {
    padding: 2rem 0;
  }
}

.buttons {
  display: flex;
  justify-content: flex-start; /* 水平对齐到容器的开始位置，即左对齐 */
  align-items: center; /* 垂直居中对齐 */
}

section {
  /* 设置上边距和下边距 */
  padding: 0px 0;
  /* 确保section填满整个容器宽度 */
  width: 100%;
}


