.features {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0.5rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.feature {
  margin-top: 0rem; /* 顶部外边距 */
  margin-bottom: 0rem; /* 底部外边距 */
}

